################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/NetworkGameProgramming/x64/Debug
/NetworkGameProgramming.VC.db
/NetworkGameProgramming.VC.VC.opendb
/.vs/NetworkGameProgramming/v14
/20160913수업/TCPClient/Debug
/20160913수업/TCPClient/TCPClient/Debug/TCPClient.tlog
/20160913수업/TCPClient/TCPClient/Debug
/20160913수업/TCPServer/.vs/TCPServer/v14
/20160913수업/TCPServer/Debug
/20160913수업/TCPServer/TCPServer/Debug
*.db
/.vs/NetworkGameProgramming/v14
/20160926 수업/TCPServer_FixedVariable/.vs/TCPServer_FixedVariable/v14
/20160926 수업/TCPServer_FixedVariable/Debug
/20160926 수업/TCPClient_FixedVariable/Debug/TCPClien.788D4FF7.tlog
/20160926 수업/TCPClient_FixedVariable/Debug
